.sign-container {
    z-index: 2;
    margin: 0 auto;
    right: 0;
    left: 0;
    position: absolute;
    width: 510px;
    height: 300px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    background-color: red;
    padding: 2em;
    box-sizing: border-box;

    .sign-form {
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        gap: 20px;

        input {
            all: unset;
            cursor: pointer;
            width: 80%;
        }
    }
    

}