.todo-page-container-dark {
    background-color: $VeryDarkBlue;
}

.todo-page-container-light {
    background-color: $VeryLightGrayishBlue;
}

.todo-page-container {
    height: 100vh;
    width: 100vw;
    position: relative;
    font-family: JosefinSans;

    .todo-img {
        z-index: 0;
        position: absolute;
        width: 100%;
    }

    .todo-component-container{
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        gap: 50px;
        // width: 35%;
        width: $WidthTodoContainers;
        height: 100%;

        .header-todo-component {
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            :last-child {
                cursor: pointer;
            }
        }
        .header-todo-component:first-child {
            color: white;
            text-transform: uppercase;
            letter-spacing: 20px;
        }

        .todo-list-container {
            width: 100%;
            position: relative;

            .todo-list-dark {
                color: $LightGrayishBlue;
            }

            .todo-list-light {
                color: $VeryDarkGrayishBlue;
            }

            .todo-list {
                list-style: none;
                padding: 0;
                margin: 0;
                
                .li-form {
                    margin-bottom: 30px;
                    form {
                        width: 100%;

                        label {
                            width: 100%;
                            display: flex;

                            input {
                                all: unset;
                                cursor: pointer;
                                width: 80%;
                                margin-left: $MargeListItems;
                                color: $DarkGrayishBlue;
                            }
                        }
                    }
                }

                .li-dark {
                    background-color: $VeryDarkDesaturatedBlue;
                }

                .li-light {
                    background-color: $VeryLightGray;
                }

                li {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 50px;

                    .circle-check {
                        margin-left: $MargeListItems;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        border: 1px solid $DarkGrayishBlue;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .circle-check-active {
                        background: $CheckBackground;
                    }

                    p {
                        margin-left: $MargeListItems;
                        cursor: pointer;
                    }

                    .delete-item {
                        position: absolute;
                        right: 0;
                        margin-right: $MargeListItems;
                        display: none;
                        cursor: pointer;
                    }

                    .todo-completed {
                        text-decoration: line-through;
                    }
                }

                li:hover {
                    .delete-item {
                        display: block;
                    }
                }

                .footer-list {
                    font-weight: bold;
                    color: $DarkGrayishBlue;
                    font-size: 12px;
                    display: flex;
                    justify-content: space-between;
                
                    :last-child {
                        margin-right: $MargeListItems;
                    }

                    .filters { 
                        display: flex;
                    }

                    .filter-active {
                        color: $BrightBlue;
                    }
                }  

                .li-dark:not(.footer-list, .li-form) {
                    border-bottom: 1px solid $VeryDarkGrayishBlue;
                }
                .li-light:not(.footer-list, .li-form) {
                    border-bottom: 1px solid $LightGrayishBlue;
                }
            }
        }

        .footer {
            font-size: 10px;
            color: $DarkGrayishBlue;
        }
    }   
}

.modal-todos-params-container {
    position: absolute;
    
}


@media screen and (max-width: 620px) {
	.todo-page-container {
        .todo-component-container {
            max-width: 450px;
        }
    }
}